@import '../../assets/scss/variables';
header {
	height: 80px;
	background-color: $main-color;
	color: $white-color;
	font-size: 16px;
	padding: 0px 50px 0px 50px;
	img {
		border-radius: 50%;
		border: 2px solid $white-color;
		width: 60px;
		height: auto;
		margin-top: 9px;
	}
	p {
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		top: 8px;
	}
	.row {
		.col-md-6:nth-child(2) {
			text-align: right;
			padding-top: 20px;
			font-size: 14px;
			cursor: pointer;
			transition: all .3s;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}