<section class="container-fluid">
    <div [ngClass]="{'d-block': buttonShow, 'd-none': !buttonShow}" ng-app="">
       <div class="row">
          <div class="col-md-6">
             <p class="mt-3 mb-3">{{name}}</p>
             <mat-form-field class="w-100" appearance="outline">
                <mat-label>User name</mat-label>
                <input [(ngModel)]="name" matInput placeholder="User name" [value]="userName" [disabled]="checkBox">
             </mat-form-field>
          </div>
          <div class="col-md-6 pt-5">
             <mat-checkbox class="mt-2" (change)="checkBox = !checkBox">Disable Input</mat-checkbox>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-12">
          <button (click)="buttonShow = !buttonShow" [ngClass]="{'btn-primary': !buttonShow, 'btn-secondary': buttonShow}"
          type="button" class="btn mt-3">{{buttonShow ? 'Hide !!!' : 'Show !!!'}}</button>
       </div>
    </div>

    <div class="row mt-5">
       <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Countries</mat-label>
            <mat-select>
              <mat-option *ngFor="let country of countries" [value]="country.name">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
       </div>
       <div class="col-md-6">
         <mat-icon>account_circle</mat-icon>
       </div>
    </div>
</section>